registry=https://pkgs.dev.azure.com/moneyp/_packaging/FulltechPro.Npm/npm/registry/ 
always-auth=true
; begin auth token
//pkgs.dev.azure.com/moneyp/_packaging/FulltechPro.Npm/npm/registry/:username=moneyp
//pkgs.dev.azure.com/moneyp/_packaging/FulltechPro.Npm/npm/registry/:_password=cGg3bDZ4dTJyYnNpNnRtM2pkcDcyaXA3ZWN6eDQyc2t0ZWd4YWl4Mm1qbHd4dmZud3I0cQ==
//pkgs.dev.azure.com/moneyp/_packaging/FulltechPro.Npm/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/moneyp/_packaging/FulltechPro.Npm/npm/:username=moneyp
//pkgs.dev.azure.com/moneyp/_packaging/FulltechPro.Npm/npm/:_password=cGg3bDZ4dTJyYnNpNnRtM2pkcDcyaXA3ZWN6eDQyc2t0ZWd4YWl4Mm1qbHd4dmZud3I0cQ==
//pkgs.dev.azure.com/moneyp/_packaging/FulltechPro.Npm/npm/:email=npm requires email to be set but doesn't use the value
; end auth token